{% extends 'base.html.twig' %}

{% block title %}Se connecter - {{ parent() }}{% endblock %}

{% block body %}
    <form method="post">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="col-11 col-md-8 col-lg-5 mt-2 qsa-login-form qsa-radius">
                <h3 class="mb-3 text-center mt-2">Vous connectez à votre espace client</h3>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <label for="inputEmail">Veuillez saisir votre adresse mail :</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="qsa-input-form rounded"
                       autocomplete="email" required autofocus>
                <label for="inputPassword">Veuillez saisir votre mot de passe :</label>
                <input type="password" name="password" id="inputPassword" class="qsa-input-form rounded"
                       autocomplete="current-password" >
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <p class="mt-2 mb-0">Votre entreprise n'est pas encore inscrite ? Cliquez <a href="{{ path('app_register') }}">ici</a></p>

                <button class="btn qsa-btn mt-3" type="submit">Se connecter</button>
            </div>
        </div>
    </form>
{% endblock %}
