{% extends 'base.html.twig' %}

{% block title %}Liste des entreprises - {{ parent() }}{% endblock %}

{% block body %}
    <div class="col-10 mx-auto d-flex justify-content-around">

        <div class="w-30 qsa-radius qsa-border background-gray p-3">
            {% for item in pagination | slice(0,10) %}
                <div class="d-flex justify-content-between">
                    <h6 class="mb-3">{{ item.name }}</h6>
                    <a href="">Détail entreprise</a>
                </div>
            {% endfor %}
        </div>
        <div class="w-30 qsa-radius qsa-border background-gray p-3">
            {% for item in pagination | slice(10, 20) %}
                <div class="d-flex justify-content-between">
                    <h6 class="mb-3">{{ item.name }}</h6>
                    <a href="">Détail entreprise</a>
                </div>
            {% endfor %}
        </div>
        <div class="w-30 qsa-radius qsa-border background-gray p-3">
            {% for item in pagination | slice(20, 30) %}
                <div class="d-flex justify-content-between">
                    <h6 class="mb-3">{{ item.name }}</h6>
                    <a href="">Détail entreprise</a>
                </div>
            {% endfor %}
        </div>

    </div>

    {# Afficher les liens de pagination #}
        <div class="pagination ">
            {{ knp_pagination_render(pagination) }}
        </div>

{% endblock %}
